@import "../../styles/color";

$len: 300px;

._ooneex-infinity-loader {
  display: inline-block;
  position: relative;

  .outline {
    fill: transparent;
    stroke-width: 3;
    stroke: $color-primary;
    stroke-dasharray: $len*0.01, $len;
    stroke-dashoffset: 0;
    animation: ooneex-loader-infinity 3000ms linear infinite;
  }
  .bg {
    fill: transparent;
    stroke-width: 3;
    stroke: $color-disabled;
    opacity: 0.2;
  }
}


@keyframes ooneex-loader-infinity {
  12.5% {
    stroke-dasharray: $len*0.14, $len;
    stroke-dashoffset: -$len*0.11;
  }
  43.75% {
    stroke-dasharray: $len*0.35, $len;
    stroke-dashoffset: -$len*0.35;
  }
  100% {
    stroke-dasharray: $len*0.01, $len;
    stroke-dashoffset: -$len*0.99;
  }
}
