._ooneex-terminal {
  background-color: #2E3248;
  width: 1000px;
  height: 140px;
  display: block;

  .header {

    width: 1000px;
    height:50px;
    background-color: #26293C;
    color: #B7B7BF;
    position: relative;

    .title-header{
      display: inline-block;
      margin-left: 450px;
      margin-top: 12px;

      .icon-terminal{

      }

      .title-text{
        float: right;
        margin-left: 10px;
        margin-top: 5px;
      }
    }

    .dot-container{
      height: 15px;
      display: inline-block;
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      margin: auto;

      .dot-red, .dot-yellow, .dot-green {
        width: 15px;
        height: 15px;
        border-radius: 50%;
        display: inline-block;
        margin-left: 8px;

      }

      .dot-red{
        margin-left: 15px;
        background-color: #FF5E56;
      }

      .dot-yellow{
        background-color: #FEBC2E;
      }

      .dot-green{
        background-color: #27C841;
      }
    }

  }
  .inside-container{
    margin-left: 10px;
    flex-direction: column;
    display: flex;
    margin-top: 10px;

    .title-text-second{
      color: #6576C5;
    }

  .window-code{
  width: 1000px;
    height: 22px;
    margin-top: 5px;
    display: inline-block;

    .arrow-group{
      display: inline-block;

      .arrow-toleft{
        margin-left: -10px;
      }
    }

    .deno-word{
      color: #C5DB01;
      margin-right: 5px;
    }


    .ooneex-code{
      color: #FFFFFF;
      margin-bottom: 2px;

    }
  }

  }
  .icon-copy{
    float: right;
    margin-right: 6px;

  }

}






