// Colors

:root {
	--ooneex-color-primary: #55295E;
	--ooneex-color-secondary: #AB7F58;
	--ooneex-color-text: #000118;
	--ooneex-color-grey: #95a5a6;
	--ooneex-color-white: #FFFFFF;
	--ooneex-color-link: #00909E;
	--ooneex-color-success: #007E33;
	--ooneex-color-warning: #FF8800;
	--ooneex-color-info: #0099CC;
	--ooneex-color-error: #CC0000;
}

$colors:
        primary var(--ooneex-color-primary)
        secondary var(--ooneex-color-secondary)
        'text' var(--ooneex-color-text)
        'grey' var(--ooneex-color-grey)
        'white' var(--ooneex-color-white)
        'link' var(--ooneex-color-link)
        success var(--ooneex-color-success)
        error var(--ooneex-color-warning)
        info var(--ooneex-color-info)
        warning var(--ooneex-color-error);
