@import "../../styles/color";
@import "../../styles/mixins/transition";

._ooneex-select {
  width: 100%;
  background-color: $color-white;
  border: 2px solid $color-primary;
  position: relative;

  .trigger {
    min-height: 33px;
    position: relative;
    cursor: pointer;

    .label {
      display: inline-block;
      position: absolute;
      left: 15px;
      height: 23px;
      top: 0;
      bottom: 0;
      margin: auto;

      .default {
        line-height: 20px;
      }

      .tag {
        display: inline-block;
        font-size: 0.7em;
        background-color: $color-primary;
        color: $color-white;
        padding: 5px 10px;
        margin-right: 5px;
      }
    }

    i {
      position: absolute;
      top: 10px;
      right: 15px;
      @include transition();
    }
  }

  &.open {
    .trigger {
      i {
        transform: rotate(180deg);
      }
    }
  }

  .items-container {
    width: 100%;
    min-height: 200px;
    max-height: 400px;
    overflow: auto;
    border: 2px solid $color-primary;
    position: absolute;
    background-color: $color-white;
    z-index: 10000;

    .row {
      border-bottom: 1px solid lighten($color-disabled, 25%);
      @include transition();
      &:last-child {
        border-bottom: none;
      }

      &:hover {
        background-color: lighten($color-primary, 70%);
      }

      ._ooneex-checkbox {
        width: 100%;
        padding: 10px;
      }
    }
  }
}
