@import "../../styles/color";
@import "../../styles/mixins/border-radius";

._ooneex-image {

  &.round {
    @include border-radius(50%, 50%, 50%, 50%);
  }

  &.xs {
    width: 20%;
  }

  &.sm {
    width: 30%;
  }

  &.md {
    width: 40%;
  }

  &.lg {
    width: 50%;
  }

  &.xlg {
    width: 60%;
  }
}
